html {
  /* height: 1000px; */
  /* height: 100%; */

  /*? ROOT */
  /** html nin default font size'ı 16px */

  /* font-size: 30px; */
}

body {
  background-color: #bebe;

  /*! body'nin default yuksekligi yoktur. Bu sebeple child'lardan herhangi birisine yuzdelik bir yukselik verildigin bu yukseklik calismaz */

  /* height: 1000px; */
  /* height: 100%; */

  /*? body'ye yukseklik olarak vh cinsinden bir yukseklik verilebilir. Bu durumda alt telementlerde %'lik yukseklik kullanmak mümkün olur. */
  height: 100vh;
}

h1 {
  color: red;
  /*! Default 32px */
  font-size: 30px;
}
/** -------- MUTLAK OLCU BIRIMLERI ------ */
p.abs {
  /*! Default 16px */
  font-size: 1cm;
  font-size: 10mm;
  font-size: 1in;
  font-size: 10px;
}

/** -------- GORECELI OLCU BIRIMLERI ------ */
/*?  % biriminde bir html elemaninin font size'i parent'in font-size'ina gore oranlanir. */
p.percent {
  font-size: 200%; /*? 16px * 2  = 32px  */
  font-size: 50%; /*? 16px / 2  = 8px  */
}

.div1 {
  background-color: tomato;
  /** parent'i body oldugundan body'nin uzunlugunun %50'si*/
  width: 50%;
  /** parent'i body oldugundan body'nin yuksekliginin %50'si*/
  height: 50%;
}

.div2 {
  background-color: green;
  /** parent'i div1 oldugundan div'in uzunlugunun %50'si*/
  width: 50%;
  /** div1'in yuksekliginin %50'si*/
  height: 50%;
}

.div3 {
  background-color: hotpink;
  /** vw'da parent yerine viewport'un uzunluguna bakilir. 90vw, tarayicinin gorunur alaninin %90'si demektir*/
  width: 90vw;
  /** vh'da parent yerine viewport'un yuksekligine bakilir. 10vh, tarayicinin gorunur yuksekliginin %10'u demektir*/
  height: 10vh;
}

/*!  EM olcu biriminde bir html elemaninin font size'i parent'in font-size'ina gore oranlanir. */

.div4 {
  background-color: indigo;
  color: white;
  /*?  Parent'in (body) 1 katina esittir (16 px) */
  font-size: 1em;
  width: 150px;
}

.div5 {
  background-color: lightblue;
  color: white;
  font-size: 2em;
  /* width: 1.5em; */
}
.div6 {
  background-color: yellowgreen;
  color: white;
  /* font-size: 0.5em; */
  font-size: 3em;
}

/*!  REM olcu biriminde bir html elemaninin font size'i root elemaninin (html) font-size'ina gore oranlanir. */

.div7 {
  font-size: 1rem; /*?  16px * 1 = 16px */
}

.div8 {
  font-size: 2rem; /*?  16px * 2 = 32px */
}
.div9 {
  font-size: 3rem; /*?  16px * 3 = 48px */
}

.box {
  background-color: lightcoral;
  width: 4rem; /*? 120px */
  height: 4rem; /*? 120px */
  border-radius: 50%;
}
