*{
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}

.box{
    width: 10rem;
    height: 10rem;
    font-size: 1.4rem;
    border: 1px solid royalblue;

}
/*! Aksi belirtilmedigi sürece bir elemanin position'ı statiktir. */

.static {
    background-color: hotpink;
    position: static;  /*?default*/
}
/*! Bir eleman position:relative yapilirsa o zaman olmasi gereken akış konumundan left,top,right ve bottom miktarlari kadar uzaklastirilabilir. */
.relative-1 {
    background-color: rgba(244, 165, 96, 0.9);
    position: relative;
    /* top: -5rem;
    left: 0rem; */
    /*? top:0 elemanin ust taraf acisindan olmasi gereken konumda bulunmasi demektir. Negatif bir deger elamanin yukariya gelmesine, pozitif bir deger ise asagiya inmesine yol açar.) */
    top: 0;
  
    /*? Olması gereken konuma gore soldan 10rem saga kaysin */
    left: 10rem;
    z-index: 1;
  }
  .relative-2{
    background-color: rgba(76,0, 130, 0.492);
    position: relative;
    
  }
  .absolute{
    position: absolute;
    background-color: khaki;
    width: 3rem;
    height: 3rem;
  }
 .top-left{
    
 }
